body {
  background-image: linear-gradient(
    to right top,
    #f2b8d9,
    #eac2e5,
    #e2cced,
    #ddd5f1,
    #dcddf2,
    #dcddf2,
    #dbdcf3,
    #dbdcf3,
    #ddd2f2,
    #e4c7ed,
    #eebbe3,
    #f9afd3
  );
}
p {
  line-height: 1.7;
}

footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: #99ddcc;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  background: #6b4f4f;
  transition: ease-in-out 200ms;
}

footer .social-links a:hover {
  background: #99ddcc;
  color: #6b4f4f;
}

footer .contact-box {
  background: #D2D0FE;
  padding: 30px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.project {
  text-align: center;
  font-family: "Carattere", cursive;
  font-size: 45px;
  font-weight: bolder;
  margin: 50px 5px;
}

.hero {
  text-align: center;
  margin: 90px 25px;
  padding: 20px 10px;
  color: #3ab1c8;
}

.btn-branding-outline {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 45px;
  line-height: 60px;
}

.content-container h2 {
  font-size: 18px;
}

.content-container h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.content-container p a {
  text-decoration: none;
  color: #290FBA;
}

.content-container p a:hover {
  color: #6b4f4f;
}

.content-container .link-social {
  text-decoration: none;
  color: #368B85;
  transition: ease-in-out 200ms;
  font-size: 15px;
  font-weight: 500;
}

.content-container .link-social:hover {
  color: #341677;
}

.content-container .alink {
  text-decoration: none;
  color: #864879;
  transition: ease-in-out 200ms;
}

.content-container .alink:hover {
  color: #9c19e0;
  font-style: italic;
}

.content-container .pic {
  display: block;
  max-width: 200px;
  max-height: 200px;
}

.content-container .certificates a {
text-decoration: none;
color: #864879;
transition: ease-in 200ms;
font-weight: bold;
}

.content-container .certificates a:hover {
  color: #9c19e0;
  font-style: italic;
}

@media (max-width: 576px) {
  .content-container h1 {
    font-size: 30px;
    line-height: 1.25;
  }
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

  .content-container .pic {
    display: block;
    max-width: 85px;
    max-height: 85px;
    border-radius: 4px;
  }
}
